body{
  background: url(https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?cs=srgb&dl=clouds-dawn-dramatic-1118873.jpg&fm=jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size:cover;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.weather-box{
  border: 2px solid white;
  /* 안에 공간 주기 */
  padding: 50px;
  border-radius: 25px;  
  background-color: rgb(249, 255, 197);
}